In [13]:
import pandas as pd
import numpy as np
import pandas_profiling

- <b>callsign</b>: the identifier of the flight displayed on ATC screens (usually the first three letters are reserved for an - - <b>airline</b>: AFR for Air France, DLH for Lufthansa, etc.)
- <b>number</b>: the commercial number of the flight, when available (the matching with the callsign comes from public open API)
- <b>icao24</b>: the transponder unique identification number;
- <b>registration</b>: the aircraft tail number (when available);
- <b>typecode</b>: the aircraft model type (when available);
- <b>origin</b>: a four letter code for the origin airport of the flight (when available);
- <b>destination</b>: a four letter code for the destination airport of the flight (when available);
- <b>firstseen</b>: the UTC timestamp of the first message received by the OpenSky Network;
- <b>lastseen</b>: the UTC timestamp of the last message received by the OpenSky Network;
- <b>day</b>: the UTC day of the last message received by the OpenSky Network;
- <b>latitude_1, longitude_1, altitude_1</b>: the first detected position of the aircraft;
- <b>latitude_2, longitude_2, altitude_2</b>: the last detected position of the aircraft.

In [34]:
flightlist_1 = pd.read_csv('flightlist_20200401_20200430.csv')

In [35]:
flightlist = flightlist[:]

As of January 2017, the OpenFlights Airports Database contains over 10,000 airports, train stations and ferry terminals spanning the globe, as shown in the map above. Each entry contains the following information:

- <b>Airport ID</b>	Unique OpenFlights identifier for this airport.
- <b>Name</b>	Name of airport. May or may not contain the City name.
- <b>City</b>	Main city served by airport. May be spelled differently from Name.
- <b>Country</b>	Country or territory where airport is located. See Countries to cross-reference to ISO 3166-1 codes.
- <b>IATA</b>	3-letter IATA code. Null if not assigned/unknown.
- <b>ICAO</b>	4-letter ICAO code.
Null if not assigned.
- <b>Latitude</b>	Decimal degrees, usually to six significant digits. Negative is South, positive is North.
- <b>Longitude</b>	Decimal degrees, usually to six significant digits. Negative is West, positive is East.
- <b>Altitude</b>	In feet.
- <b>Timezone</b>	Hours offset from UTC. Fractional hours are expressed as decimals, eg. India is 5.5.
- <b>DST</b>	Daylight savings time. One of E (Europe), A (US/Canada), S (South America), O (Australia), Z (New Zealand), N (None) or U (Unknown). See also: Help: Time
- <b>Tz</b> database time zone	Timezone in "tz" (Olson) format, eg. "America/Los_Angeles".
- <b>Type</b>	Type of the airport. Value "airport" for air terminals, "station" for train stations, "port" for ferry terminals and "unknown" if not known. In airports.csv, only type=airport is included.
- <b>Source</b>	Source of this data. "OurAirports" for data sourced from OurAirports, "Legacy" for old data not matched to OurAirports (mostly DAFIF), "User" for unverified user contributions. In airports.csv, only source=OurAirports is included.

In [36]:
airport = pd.read_csv(r"https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat", sep=',', header=None)

In [37]:
flightlist.head()

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2,len_icao
0,HBAL102,NaN,A21C0F,NaN,NaN,NaN,NaN,2020-03-31 00:41:44+00:00,2020-04-01 22:50:47+00:00,2020-04-01 00:00:00+00:00,-4.821136,-76.319370,18288.0,-4.524902,-79.010274,2194.56,6
1,AUA1028,NaN,440081,OE-LPD,B772,YSSY,LOWW,2020-03-31 03:29:15+00:00,2020-04-01 00:41:43+00:00,2020-04-01 00:00:00+00:00,-33.963489,151.180630,0.0,48.117417,16.549988,NaN,6
2,ABW120,NaN,424564,VQ-BRJ,B748,KORD,UUEE,2020-03-31 07:07:17+00:00,2020-04-01 12:54:29+00:00,2020-04-01 00:00:00+00:00,41.965911,-87.883152,0.0,55.983490,37.495839,472.44,6
3,CSN461,CZ461,780DA8,B-2026,B77L,KLAX,EDDF,2020-03-31 07:15:52+00:00,2020-04-01 12:02:53+00:00,2020-04-01 00:00:00+00:00,33.936302,-118.413963,0.0,50.035675,8.572299,45.72,6
4,ETH3730,NaN,04015C,NaN,NaN,OMSJ,EBLG,2020-03-31 08:05:10+00:00,2020-04-01 01:15:08+00:00,2020-04-01 00:00:00+00:00,25.386425,55.422139,609.6,50.634247,5.439027,76.20,6

In [38]:
flightlist['icao24'] = flightlist['icao24'].str.upper()

In [39]:
airport.columns = ['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude', 'Longitude', 'Altitude', 'TimeZone', 'DST', 'TZ', 'Type','Source']

In [47]:
airport.sample(5)

,Airport ID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,TimeZone,DST,TZ,Type,Source
380,384,Stendal-Borstel Airport,Stendal,Germany,NaN,EDOV,52.628887,11.818611,184,1,E,Europe/Berlin,airport,OurAirports
2578,2713,Camilo Daza International Airport,Cucuta,Colombia,CUC,SKCC,7.927570,-72.511500,1096,-5,U,America/Bogota,airport,OurAirports
1247,1282,Saint-Girons-Antichan Airport,St.-girons,France,NaN,LFCG,43.007801,1.103150,1368,1,E,Europe/Paris,airport,OurAirports
4404,5710,Gulu Airport,Gulu,Uganda,ULU,HUGU,2.805560,32.271801,3510,3,U,Africa/Kampala,airport,OurAirports
1317,1353,Marseille Provence Airport,Marseille,France,MRS,LFML,43.439272,5.221424,74,1,E,Europe/Paris,airport,OurAirports

In [41]:
airport['IATA'] = np.where(airport['IATA']==r'\N',np.NaN, airport['IATA'])

In [42]:
airport['ICAO'] = np.where(airport['ICAO']==r'\N',np.NaN, airport['ICAO'])

In [43]:
airport.iloc[6662,:]

Airport ID                    9830
Name                Mpanda Airport
City                        Mpanda
Country                   Tanzania
IATA                           NaN
ICAO                          HTMP
Latitude                  -6.35537
Longitude                  31.0841
Altitude                      3520
TimeZone                         3
DST                              N
TZ            Africa/Dar_es_Salaam
Type                       airport
Source                 OurAirports
Name: 6662, dtype: object

In [20]:
flightlist.shape

(842905, 16)

In [21]:
airport.shape

(7698, 14)

In [44]:
flightlist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 842905 entries, 0 to 842904
Data columns (total 17 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   callsign      842905 non-null  object
 1   number        193721 non-null  object
 2   icao24        842905 non-null  object
 3   registration  732770 non-null  object
 4   typecode      495408 non-null  object
 5   origin        650821 non-null  object
 6   destination   714874 non-null  object
 7   firstseen     842905 non-null  object
 8   lastseen      842905 non-null  object
 9   day           842905 non-null  object
 10  latitude_1    842905 non-null  float64
 11  longitude_1   842905 non-null  float64
 12  altitude_1    842905 non-null  float64
 13  latitude_2    842872 non-null  float64
 14  longitude_2   842872 non-null  float64
 15  altitude_2    829778 non-null  float64
 16  len_icao      842905 non-null  int64
dtypes: float64(6), int64(1), object(10)
memory usage: 109.3+ MB